.group-grid{
    border-width: 3px;
    border-color: saddlebrown;
    border-style: ridge;
    background-color: ghostwhite;
    padding: 20px;
}

.chord-grid{
    border-width: 3px;
    border-color: saddlebrown;
    border-style: ridge;
    width: 98vw;
    height: min-content;
    padding-left: 2vw;
    padding-right: 1vw;
}

.background{
    background-color: saddlebrown;
}

.chord-text-field {
    border-width: 0px;
    height: 30px;
    width: 2.8vw;
    background-color: transparent;
    padding: 0.05vw;
}

.chosen-string-layout{
    background: lightskyblue;
}

.not-chosen-string-layout{
    background: none;
}

.icon{
    size:2vw;
}

.choose-string-line-button{
    height: 15px;
    width: 10px;
    background-size: 10px;
    padding-right: 10px;
    color: darkslateblue;
    background-color: darkblue;
}